@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;900&family=Rubik:wght@400;500&display=swap');

/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Rubik', sans-serif; */
:root {
    --buttons_color: rgb(251, 168, 127);
    --intro_color: rgb(255, 255, 255);
    --about_title_color: rgb(118, 72, 248);
    --about_title_p_color: rgb(95, 97, 98);
    
}

body {
    margin: 0;
}

.size {
    max-width: 1200px;
    margin: auto;
} 


/* Header */
/* Header logo */

.logo {
    height: auto;
    width: 204px;
}
@media (max-width: 290px) {
    .logo {
        width: 100%!important;
    }
}

/* Header Nav */
.burger-icon {
    font-size: 3rem;
}

#burger-checkbox {
    display: none; 
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 30px 24px 30px 24px;
}
header .nav {
    display: none;  
    
}
header input:checked ~ .nav {
    display: flex;
}

header .nav {
    flex-direction: column;
}
header .img_nav {
    height: 20px;
    width: auto;

}
header .nav a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(29, 31, 42);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;    
    padding: 3px;
    transition: color 0.2s linear;
    white-space: nowrap;
}
header .nav a:hover {
    color: violet;
}
@media (min-width: 610px) {
    .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 30px 40px 30px 40px;
    }
    
    
    header nav {
        display: flex;
    }

    .burger-icon {
        display: none;
    }

    header .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 0.4;    
    }
}

/* Main */
/* Main intro */
.intro {
    width: 100%;
    background: url("../img/introback.png") center no-repeat; 
    background-size: cover;    
    margin: 30px -15px 0px -15px;
    display: block;
    min-width: 130px;
    font-weight: 400;
    padding: 110px 0 110px 0;
    margin: 0 0 0 0; 
     
}
@media (min-width: 610px) {
    .intro {
        padding: 220px 0 220px 0;
        
    }
    .intro_title {
        width: 550px;
        
    }
    
}


.intro_title {
    color: var(--intro_color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 54px;
    font-weight: 900;
    overflow-wrap: break-word;
    max-width: 650px;
    padding-left: 24px;
    
}
.intro h2 {
    color: var(--intro_color);
    font-size: 18px;
    font-weight: 400;
    overflow-wrap: break-word;
    max-width: 650px;
    padding-left: 24px;
    font-family: 'Rubik', sans-serif;    
}
.buttons {
    display: inline-block; 
    padding-left: 24px;
    margin-top: 35px;
}



.buttons_pricing {
    background-color: var(--intro_color);
    border-color: var(--buttons_color);
    color: rgb(77, 81, 98);
    font-family: 'Rubik', sans-serif;
    border-style: solid;
    border-radius: 5px;
    height: 55px;
    width: 145px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 15px;    
}
.buttons_pricing:hover {
    background-color: rgb(247, 179, 11);
    cursor: pointer;
}
@media (max-width: 290px) {
    .buttons_pricing {
        margin: auto;
        width: 100%!important;
    }
}

.buttons_how {
    background-image: none; 
    background: transparent;
    border-color: var(--buttons_color);
    color: var(--intro_color);
    font-family: 'Rubik', sans-serif;
    border-style: solid;
    border-radius: 5px;
    height: 55px;
    width: 162px;
    font-size: 14px;
    font-weight: 700;
    margin-right: 30px;
}
.buttons_how:hover {
    background-color: rgb(247, 179, 11);
    cursor: pointer;
}
@media (max-width: 290px) {
    .buttons_how {
        margin: 0;
        width: 80%;
    }
}

/* about */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    padding: 120px 0 60px 0;
    
}

@media (min-width: 60px) {
    .about {
        display: grid;
        grid-template-columns: 1fr;  
    }
}
@media (min-width: 760px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;  
    }
}
@media (min-width: 960px) {
    .about {
        grid-template-columns: 1fr 1fr 1fr;  
    }
}
.about h3 {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--about_title_color);
}
.about p {
    display: block;
    overflow-wrap: break-word;
    text-align: center;
    font-family: 'Rubik', sans-serif; 
    color: var(--about_title_p_color);
}

.about_consultion {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}


.about_targeting {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}

.about_result {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 30px;
}


/* how_it_works */

/* how_it_title */
.how_it_title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.how_it_title h3 {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 500;
    
}
.how_it_title h2 {
    font-size: 48px;
    color: rgb(29, 31, 42);
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    
}
@media (max-width: 260px) {
    .how_it_title h2 {
        font-size: 30px;
    }
}
.how_it_title p {
   font-family: 'Rubik', sans-serif;
   font-size: 18px;
   font-weight: 400;
   color: rgb(95, 97, 98);
   margin: 0 0 0 0;  
}

/* How_it_position */

/* How_it_position */

.how_it_position {
    grid-gap: 2vw;
    justify-content: space-between;
    margin-top: 20px;
}

@media (min-width: 660px) {
    .how_it_position {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 30px;
    }
}
.how_it_img {
        width: 100%!important;
    }

.how_it_text ul {
    list-style: none;
    margin: 0
}
.how_it_text ul li {
    position: relative;
}
.how_it_text ul li:before {
    content:  "—";
    font-weight: 700;
    position: absolute;
    left:     -25px;
    color: var(--about_title_color);
}
.text_how_it_work h3 {
    color: rgb(29, 31, 42);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 19px; 
    font-weight: 700;
}
@media (max-width: 220px) {
    .text_how_it_work h3 {
        font-size: 16px;
    }
}

.text_how_it_work p {
    margin-left: -25px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgb(95, 97, 98);
}

/* transition */
.transition {
    
    padding-top: 80px;
    padding-bottom: 95px;
    width: 100%;
    background: url("../img/background_transition.png") center no-repeat; 
    background-size: cover;
}

/* #pricing */
#pricing {
    width: 100%;
    background: url("../img/background_pricing.png") center no-repeat; 
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}
@media (min-width: 960px) {
    #pricing  {
    padding-top: 110px;
    padding-bottom: 120px;  
    }
}

.pricing_title {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pricing_title h3 {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 500;
    
}
.pricing_title h2 {
    font-size: 34px;
    color: rgb(29, 31, 42);
    font-weight: 900;
    
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 0 0 0;
}

.price_all {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: left;
    
    
}
@media (min-width: 60px) {
    .price_all {
        display: grid;
        grid-template-columns: 1fr;  
    }
}
@media (min-width: 760px) {
    .price_all {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        
    }
}
@media (min-width: 960px) {
    .price_all  {
        grid-template-columns: 1fr 1fr 1fr;  
    }
}
.pricing_article {
    background-color: white;
    margin: 50px 10px 0 10px;
    padding-left: 20px;
    
}
.pricing_article ul {
    padding-left: 20px;
}
.pricing_article h3 {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 500;
    
}
.pricing_block {
    display: flex;
    align-items: flex-end;
    vertical-align: baseline;
    flex-wrap: wrap;
    
}
.pricing_block2 {
    font-size: 14px;
    color: var(--about_title_p_color);
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
    padding-bottom: 10px;
}
.pricing_block1 {
    font-size: 41px;
    color: var(--about_title_color);
    font-weight: 900;
    
    font-family: 'Nunito Sans', sans-serif;
}

.pricing_article li {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 400;
    
}
.pricing_article li::marker {
    color: var(--about_title_color);
}
@media (max-width: 220px) {
    .pricing_article li {
        font-size: 14px;
    }
}

.buttons_get_started {
    background-image: none; 
    background: transparent;
    border-color: var(--about_title_color);
    color: rgb(77, 81, 98);
    font-family: 'Rubik', sans-serif;
    border-style: solid;
    border-radius: 5px;
    height: 55px;
    width: 126px;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 30px;    
}
.buttons_get_started:hover {
    background-color: var(--about_title_color);
    cursor: pointer;
}

@media (max-width: 220px) {
    .buttons_get_started {
        width: auto;
    }
}

 
/* Form JS______ */

#contacts {
    width: 100%;
    background: url("../img/background_contacts.png") center no-repeat; 
    
    background-attachment: fixed;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    
}

.contacts_title {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.contacts_title h3 {
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 500;
    
}
.contacts_title h2 {
    font-size: 34px;
    color: var(--intro_color);
    font-weight: 900;
    
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 0 0 0;
    padding-left: 15px;
}
.contacts_title p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Rubik', sans-serif; 
    color: var( --intro_color);
    font-size: 18px;
}

.container {
  display: block;
  margin-right: auto;   
  max-width: 570px;
  padding-bottom: 50px;
  width: auto;
  background: rgba(255, 255, 255, 0.05);
    
}



.form {
  
   
}


.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}


.form-control input {
 
  display: block;
  width: 80%;
  padding: 10px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  color: white;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: var(--success-color);
  
}

.form-control.error input {
  border-color: var(--error-color);
  
}

.form-control small {
  color:wheat;
  position: absolute;
  bottom: 0;
  left: 50px;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.container button {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  background-image: linear-gradient(to left, rgb(231,119,199) 0%, rgb(145,142,232) 51%, rgb(124,73,248) 100%);
  transition: 0.3s;
  border-radius: 5px;
  border-width: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 16px;
  padding: 10px;
  width: 85%;
  margin: auto;
  margin-top: 30px;
}

.form button:hover {
   background-image: linear-gradient(to right, rgb(231,119,199) 0%, rgb(145,142,232) 51%, rgb(124,73,248) 100%);
}

/* Footer */

.footer {
    display: block;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}

@media (min-width: 50px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;  
        width: 80%;
    }
}

@media (min-width: 800px) {
    .footer  {
        grid-template-columns: 1fr 1fr 1fr 1fr;  
    }
}
.logo_footer {
    height: auto;
    width: 204px;
    margin-top: 20px;
    margin-bottom: 10px;
}
@media (max-width: 290px) {
    .logo_footer {
        width: 80%!important;
    }
}
.img_nav_footer {
    height: 30px;
    width: auto;
}

.footer_home span {
    display: flex;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 400;
    overflow-wrap: break-word;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.footer h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--about_title_color);
    font-size: 22px;
}
.footer_contacts  a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(29, 31, 42);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;    
    padding: 3px;
    transition: color 0.2s linear;
    white-space: nowrap;
}
.footer_contacts  a:hover {
    color: violet;
}

.footer_navigation  a {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    text-decoration: none;
    color: rgb(29, 31, 42);
    font-weight: 400;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;    
    padding: 3px;
    transition: color 0.2s linear;
    white-space: nowrap;
}

.footer_navigation a:hover {
    color: rgb(118, 72, 248);
}

.footer_visit span {
    display: flex;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--about_title_p_color);
    font-weight: 400;
    overflow-wrap: break-word;
    text-align: center;
    justify-content: center;
}
.footer_visit a {
    padding: 15px;
}

.footer_visit_icon {
    margin: 15px;
}